oficina2.ppk
/backend/GAServer/.idea
/backend/GAServer/target
/backend/GAServer/application.properties
/frontend/GAClient/target
/frontend/GAClient/.idea
/frontend/GAClient/src/main/java/br/com/ga/Exceptions/
/frontend/GAClient/src/main/java/br/com/ga/entity/
/frontend/GAClient/src/main/java/br/com/ga/service/intf/
/frontend/GAClient/src/main/java/br/com/ga/web/response/
/frontend/GAClient/src/main/java/br/com/ga/web/rest/
/frontend/GAClient/src/main/java/br/com/ga/exceptions/
/frontend/GAClient/src/main/java/br/com/ga/util/
*.iml
frontend/GAClient/GAClient.iml
backend/GAServer/GAServer.iml
