backend/GAServer/target
frontend/GAClient/target
/backend/GAServer/application.properties
oficina2.ppk
/frontend/GAClient/src/main/java/br/com/ga/Exceptions/
/frontend/GAClient/src/main/java/br/com/ga/entity/
/frontend/GAClient/src/main/java/br/com/ga/service/intf/
/frontend/GAClient/src/main/java/br/com/ga/web/response/