/* reset de margens */
* {
    margin: 0;
    padding:0;
}

/* para garantir que estes elementos ocuparão toda a tela */
body, html {
    font-family: Arial, Tahoma, sans-serif;
    height: 100%;
}

nav .nav-wrapper {
    padding: 0 50px;
}

h1 {
    font-size: 3em;
}

p { font-size: 1.25em;}


.main {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-img {
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

.core {
    top: 25%;
    position: absolute;
    margin: 2%;
}

.form {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.5)
}

.text-grey {
    color: #616161;
    text-align: center;
}

.text-orange {
    color: #ff7043;
}
.icons {
    margin-top: 10px;
    margin-right: 5px;
}

.inline {
    display: flex;
    margin: 0 20px;
}

.guardioes {
    margin: 2%;
    width: 50%;
}

#map {
    height: 85vh;
    width: 50%;
    margin: 2%;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #fff);
    background: -webkit-linear-gradient(#fff, #fff);
    background: -o-linear-gradient(#fff, #fff);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#address {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}
#address:focus {
    border-color: #ff7043;
}

.close:hover { background: #ff7043; }

@media screen and (max-width: 1050px) {
    body { font-size: 80%; }
    p, h5, img { font-size: 2em;}
    h2 {font-size: 4em;}
}


@media screen and (max-width: 750px) {
    body { font-size: 60%; }
    .c-footer{
        width: 70%;
    }
    nav .nav-wrapper { padding: 0px; }
    .container .row {
        margin-left: -50px;
    }
    .container .valor {
        margin-left: 15px;
    }
    .modalDialog > div {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    body { font-size: 50%; }
}

@media screen and (max-width: 500px) {
    .modalDialog > div {
        width: 250px;
    }
}


