/* reset de margens */
* {
    margin: 0;
    padding:0;
}

/* para garantir que estes elementos ocuparão toda a tela */
body, html {
    font-family: Arial, Tahoma, sans-serif;
    height: 100%;
}

h6 {
    text-align: justify;
}

.align-right {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 100%;
    border: 2px solid white;
}

.button-scroll {
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10%;
    background-color: white;
    border: 2px solid  #ff7043;
    color: #ff7043;
}

input[type="text"] {
    text-align: center;
}

nav .nav-wrapper {
    padding: 0 50px;
}

h1, h2 {
    font-size: 3em;
}

p { font-size: 1.25em;}

li { margin-bottom: 5px}

.main {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 98%;
    margin-left: 1%;
}

.main-sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 90%;
    margin-left: 5%;
}

.main-animals {
    height: 100vh;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.border {
    border: 2px solid #616161;
    border-radius: 20px;
    margin-left: 5% !important;
}

.margin {
    margin-bottom: 50px !important;
}

.slide-main {
    width: 100%;
    height: 100vh;
}

.commandButton {
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #ff7043;
    display: block;
    line-height: 22px;
    padding: 14px 16px
}

.main-img {
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    padding-bottom: 10vh;
}

.core {
    top: 25%;
    position: absolute;
    margin: 2%;
    z-index: 2;
}

.form {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.5)
}

.text-grey {
    color: #616161;
    text-align: center;
}

.text-orange {
    color: #ff7043;
}

.big-button {
    width: 50vw;
    margin: 10%;
    height: 50vh;
    padding: 15%;
    border-radius: 50px;
}

.full-height {
    height: 90vh !important;
}

.bg-color {
    background-color: #ebeeef;
}

.icons {
    margin-right: 5px;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guardioes {
    margin: 2%;
    width: 50%;
    overflow-y: auto;
    max-height: 80vh;
}

.img-logo{

}
.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
    border-radius: 50px;
}

.profile-pic {
    max-width: 100px;
    max-height: 80px;
    display: block;
    border-radius: 50px;
}

.file-upload {
    display: none;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 3;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
    overflow-y: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #fff);
    background: -webkit-linear-gradient(#fff, #fff);
    background: -o-linear-gradient(#fff, #fff);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.markMaps {
    color: #ff7043;
    padding: 10px 20px;;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    border-radius: 10px; 
}

.dropdown-content {
    width: 200px !important;
}

#map {
    height: 85vh;
    width: 50%;
    margin: 2%;
}

#address {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}

#address:focus {
    border-color: #ff7043;
}

.close:hover { background: #ff7043; }

.div-hov:hover {
    background-color: rgba(0,0,0,0.2) !important;
    color: #ff7043
}

@media screen and (max-width: 1250px) {
    .big-button {
        height: 40vh;
    }
    .margin {
        margin: 5px 150px !important;
    }
}

@media screen and (max-width: 1050px) {
    body { font-size: 80%; }
    p, h5, img { font-size: 2em;}
    h2 {font-size: 4em;}
    .margin {
        margin: 5px 100px !important;
    }
}

@media screen and (max-width: 750px) {
    h4, h3 {
        font-size: 2rem;
    }
    .big-button {
        height: 30vh;
    }
    body { font-size: 60%; }
    .c-footer{
        width: 70%;
    }
    nav .nav-wrapper { padding: 0px; }
    .container .row {
        margin-left: -50px;
    }
    .container .valor {
        margin-left: 15px;
    }
    .modalDialog > div {
        width: 300px;
    }
    .margin {
        margin: 5px 50px !important;
    }
}

@media screen and (max-width: 600px) {
    h4, h3 {
        font-size: 1.5rem;
    }
    .big-button {
        height: 25vh;
    }
    .margin {
        margin: 5px 20px !important;
    }
}

@media screen and (max-width: 500px) {
    body { font-size: 50%; }
    .modalDialog > div {
        width: 250px;
    }
    h4, h3 {
        font-size: 1rem;
    }

}


